<div class="row">
    <div class="col-sm-offset-3 col-xs-6">
        <div class="ibox float-e-margins">
            <input type="text"
                   class="form-control"
                   placeholder="Ingresa el Código y/o Nombre del Producto"
                   typeahead-on-select="menudeo.prueba($item, $model, $label, $event)"
                   uib-typeahead="producto as producto.campoBusqueda for producto in menudeo.buscarProducto($viewValue)"
                   ng-model="menudeo.prodSelec">
        </div>
    </div>
</div>
<br>
<!-- ORDEN DE VENTA -->
<orden-venta tiendaid="menudeo.tiendaId" pedidogrl="menudeo.pedido" iva="menudeo.iva" ng-if="menudeo.pedido.length > 0"></orden-venta>
