<div class="row">
    <div class="col-xs-6">
        <div class="ibox float-e-margins">
            <input type="text"
                   class="form-control"
                   placeholder="Ingresa el Código y/o Nombre del Producto"
                   typeahead-on-select="menudeo.prueba($item, $model, $label, $event)"
                   uib-typeahead="producto as producto.campoBusqueda for producto in menudeo.buscarProducto($viewValue)"
                   ng-model="menudeo.prodSelec">
        </div>
    </div>
    <div class="col-xs-6">
        <login-linea></login-linea>
    </div>
</div>
<!-- ORDEN DE VENTA -->
<orden-venta tienda-Id="menudeo.tiendaId" iva="menudeo.iva" pedido-Grl="menudeo.pedido"></orden-venta>

