<div class="table-responsive m-t">
    <table class="table table-hover invoice-table">
        <thead>
        <tr>
            <th style="text-align: center">Cantidad</th>
            <th style="text-align: center">Unidad</th>
            <th style="text-align: center">Descripción</th>
            <th style="text-align: center">Precio</th>
            <th style="text-align: center">% Descuento</th>
            <th style="text-align: center">Precio Final</th>
            <th style="text-align: center">Importe</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="orden in ordenVenta.pedidoGrl"
            ng-init="ordenVenta.generarSubTotal(orden)">
            <!--CANTIDAD-->
            <td>
                <button type="button"
                        class="pull-left close"
                        uib-popover="Quitar orden"
                        popover-trigger="'mouseenter'"
                        aria-label="Close"
                        ng-click="ordenVenta.quitarArticulo($index)">
                    <span aria-hidden="true"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{orden.total}}
            </td>
            <!--UNIDAD-->
            <td class="text-center">
                {{orden.unidad}}
            </td>
            <!--DESCRIPCIÓN DE PRODUCTO-->
            <td>
                <div class="text-center">
                    &nbsp;&nbsp; {{orden.marcaDesc}} {{orden.descripcion}}
                </div>
            </td>
            <!--PRECIO-->
            <td class="text-center">
                ${{orden.precioBase | number : 2}}
            </td>
            <!--DESCUENTO EN PORCENTAJE Y CANTIDAD-->
            <td class="text-center">
                <a>
                            <span class="text-navy pull-right">
                                (- {{orden.descuento  | number : 0}}
                                %)&nbsp;&nbsp;${{orden.precioBase * (orden.descuento/100) | number : 2}}
                            </span>
                </a>
            </td>
            <!--PRECIO FINAL DESCUENTO-->
            <td class="text-right">
                ${{orden.precioFinal  | number : 2}}
            </td>
            <!--IMPORTE-->
            <td>${{(orden.precioFinal * orden.total) | number : 2}}</td>
        </tr>
        </tbody>
    </table>
</div>
<table class="table invoice-total">
    <tbody>
    <tr>
        <td><strong>Sub Total :</strong></td>
        <td>${{ordenVenta.subTotal | number : 2}}</td>
    </tr>
    <tr>
        <td><strong>IVA :</strong></td>
        <td>${{ordenVenta.importeIva   | number : 2}}</td>
    </tr>
    <tr>
        <td><strong>TOTAL :</strong></td>
        <td>${{ordenVenta.total | number : 2}}</td>
    </tr>
    </tbody>
</table>
<div class="row">
    <!-- div class="col-md-3">
        <h4>Tipo de comprobante</h4>
        <div class="btn-group">
            <label class="btn btn-default" ng-class="{'btn-primary': ordenVenta.factura}"
                   ng-model="ordenVenta.factura" uib-btn-radio="false" required>Nota
            </label>
            <label class="btn btn-default" ng-model="ordenVenta.factura" uib-btn-radio="true" required>Factura</label>
        </div>
    </div>
    <div class="col-md-6">

    </div -->
    <div class="col-md-3">
        <button class="btn btn-primary pull-left"
                ng-click="ordenVenta.limpiar()">
            <i class="fa fa-eraser"></i> Limpiar
        </button>
    </div>
    <div class="col-md-offset-6 col-md-3">
        <button class="btn btn-primary pull-right"
                ng-show="ordenVenta.esVendedor"
                ng-disabled="ordenVenta.subTotal === 0 || ordenVenta.clienteId === undefined"
                ng-click="ordenVenta.generar()">
            <i class="fa fa-dollar"></i> Generar Venta
        </button>
    </div>
</div>