<div class="row wrapper border-bottom white-bg page-heading">
    <!--TITULO MODAL-->
    <div class="col-sm-10">
        <h2>
            {{confirmarImpresion.titulo}}&nbsp;
        </h2>
    </div>
    <!-- TACHE (CERRAR MODAL)-->
    <div class="col-sm-2">
        <div class="ibox-tools">
            <br>
            <a ng-click="confirmarImpresion.cerrar()"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <!-- BODY MODAL -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12">
                    <alertas mensaje="confirmarImpresion.msjDireccion.contenido"
                             tipo="confirmarImpresion.msjDireccion.tipo">
                    </alertas>
                </div>
            </div>
        </div>
    </div>    <!--FOOTER MODAL-->
    <div class="inmodal">
        <!-- BOTON / SIGUIENTE / GUARDAR / GUARDAR-->
        <div class="modal-footer">
            <!--BOTON CERRAR -->
            <button type="button"
                    class="btn btn-default"
                    ng-click="confirmarImpresion.cerrar()">
                Cancelar
            </button>
            <button type="button"
                    class="btn btn-primary"
                    ng-click="confirmarImpresion.aceptar()">
                Imprimir
            </button>
        </div>
    </div>
</div>