<form id="eligeProductoInventariosFrmId" name="eligeProductoInventariosFrm" role="form">
    <div class="row wrapper border-bottom white-bg page-heading">
        <!--TITULO MODAL-->
        <div class="col-sm-10">
            <h2>{{eligeProductoInventarios.resolve.producto.marcaDesc}}
                &nbsp;{{eligeProductoInventarios.resolve.producto.campoBusqueda}}&nbsp;
                <small ng-show="eligeProductoInventarios.resolve.producto.descontinuado">DESCONTINUADO</small>
                &nbsp;
                <small ng-show="eligeProductoInventarios.resolve.producto.importado">IMPORTADO</small>
                &nbsp;
                <small ng-show="eligeProductoInventarios.resolve.producto.rectificado">RECTIFICADO</small>
                &nbsp;
            </h2>
        </div>
        <!-- TACHE (CERRAR MODAL)-->
        <div class="col-sm-2">
            <div class="ibox-tools">
                <br>
                <a ng-click="eligeProductoInventarios.cancelarCerrar()"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- BODY MODAL -->
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-7 b-r">
                        <h4>Existencia en inventario</h4>
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">
                                <span class="pull-right">
                                    <!--
                                    TODO: Necesita validaciones, especialmente no aceptar números negativos ni cero
                                    -->
                                    <input class="form-control text-navy input-sm"
                                           style="margin-bottom: -5px; margin-top: -5px; text-align: center"
                                           placeholder="Captura cantidad"
                                           type="number"
                                           min="0"
                                           max="5000"
                                           ng-model="eligeProductoInventarios.cantidadSolicitada">
                                </span>
                                <span class="label label-primary">{{eligeProductoInventarios.miInventario.cantidad}}</span>&nbsp;&nbsp;{{eligeProductoInventarios.miInventario.tienda
                                    ().nombre}}
                            </li>
                        </ul>
                        <existencia-otras-tiendas
                                productos="eligeProductoInventarios.productosTiendas"
                                total-productos="eligeProductoInventarios.sumProductosTiendas">
                        </existencia-otras-tiendas>
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">
                                <span class="pull-right label label-info">
                                    <h3>
                                        Total:&nbsp;&nbsp;{{eligeProductoInventarios.cantidadSolicitada +  eligeProductoInventarios.sumProductosTiendas}}
                                    </h3>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <precios-producto
                                costo="eligeProductoInventarios.miInventario.costo"
                                precio="eligeProductoInventarios.miInventario.costo
                                * eligeProductoInventarios.miInventario.factorUno()"
                                promocion-id="eligeProductoInventarios.miInventario.promocionId"
                                respuesta="eligeProductoInventarios.asignarPrecios({mesesSinInteres, descuento, precioFinal, iva, comision})">
                        </precios-producto>
                    </div>
                </div>
            </div>
        </div>
        <!--FOOTER MODAL-->
        <div class="inmodal">
            <!-- BOTON / SIGUIENTE / GUARDAR / GUARDAR-->
            <div class="modal-footer">
                <!--BOTON CERRAR -->
                <button type="button"
                        class="btn btn-default"
                        ng-click="eligeProductoInventarios.cancelarCerrar()">
                    Cancelar
                </button>
                <button type="button"
                        class="btn btn-primary"
                        ng-show="eligeProductoInventarios.ventaId"
                        ng-disabled="eligeProductoInventariosFrm.$invalid
                        || (eligeProductoInventarios.totalProductosTiendas + eligeProductoInventarios.cantidadSolicitada) === 0"
                        ng-click="eligeProductoInventarios.aceptar()">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</form>