<ng-form name="asiganrFacturaFrm">
    <div class="row">
        <div class="col-sm 12">
            <buscar-datos-fiscales datos-fiscales="comprobanteFactura.dtsFiscalesSelec"></buscar-datos-fiscales>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-if="!comprobanteFactura.dtsFiscales._id">
            <forma-datos-fiscales datos="comprobanteFactura.dtsFiscales"></forma-datos-fiscales>

        </div>
        <div class="col-sm-12" ng-if="comprobanteFactura.dtsFiscales._id">
            <forma-editar-datos-fiscales datos="comprobanteFactura.dtsFiscales"></forma-editar-datos-fiscales>
        </div>
        <div class="col-sm-12">
            <forma-direccion direccion="comprobanteFactura.dtsFiscales"></forma-direccion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-8">
            <alertas tipo="comprobanteFactura.tipoMsj" mensaje="comprobanteFactura.msj"></alertas>
        </div>
        <div class="col-sm-3">
            <!--BOTON GUARDAR-->
            <button type="button" class="btn btn-primary pull-right"
                    ng-hide="comprobanteFactura.dtsFiscales._id"
                    ng-disabled="asiganrFacturaFrm.$invalid"
                    ng-click="comprobanteFactura.guardar()">
                Siguiente
            </button>
            <!--BOTON GUARDAR-->
            <button type="button" class="btn btn-primary pull-right"
                    ng-show="comprobanteFactura.dtsFiscales._id"
                    ng-disabled="asiganrFacturaFrm.$invalid"
                    ng-click="comprobanteFactura.actualizar()">
                Siguiente1
            </button>
        </div>
    </div>
</ng-form>
