<script>
    $(function () {
        $('#side-menu').metisMenu();
    });

    $(document).ready(function () {


        // Full height of sidebar
        function fix_height() {
            var heightWithoutNavbar = $("body > #wrapper").height() - 61;
            $(".sidebar-panel").css("min-height", heightWithoutNavbar + "px");

            var navbarHeight = $('nav.navbar-default').height();
            var wrapperHeigh = $('#page-wrapper').height();

            if (navbarHeight > wrapperHeigh) {
                $('#page-wrapper').css("min-height", navbarHeight + "px");
            }

            if (navbarHeight < wrapperHeigh) {
                $('#page-wrapper').css("min-height", $(window).height() + "px");
            }

            if ($('body').hasClass('fixed-nav')) {
                if (navbarHeight > wrapperHeigh) {
                    $('#page-wrapper').css("min-height", navbarHeight + "px");
                } else {
                    $('#page-wrapper').css("min-height", $(window).height() - 60 + "px");
                }
            }

        }

        $(window).bind("load resize scroll", function () {
            if (!$("body").hasClass('body-small')) {
                fix_height();
            }
        });

        // Move right sidebar top after scroll
        $(window).scroll(function () {
            if ($(window).scrollTop() > 0 && !$('body').hasClass('fixed-nav')) {
                $('#right-sidebar').addClass('sidebar-top');
            } else {
                $('#right-sidebar').removeClass('sidebar-top');
            }
        });

        setTimeout(function () {
            fix_height();
        });

    });

    // Minimalize menu when screen is less than 768px
    $(window).bind("load resize", function () {
        if ($(document).width() < 769) {
            $('body').addClass('body-small')
        } else {
            $('body').removeClass('body-small')
        }
    });

</script>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span>
                            <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">DASHBOARD</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_1">DASHBOARD v.1</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_2">DASHBOARD v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_3">DASHBOARD v.3</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_4_1">DASHBOARD v.4</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_5">DASHBOARD v.5 </a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.prueba"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>

            <li ng-class="{active: $state.includes('mailbox')}">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">MAILBOX </span><span
                        class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li ui-sref-active="active"><a ui-sref="mailbox.inbox">Inbox</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_view">Email view</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_compose">Compose email</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_template">Email template</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('app')}">
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">APPVIEWS</span> <span
                        class="pull-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('app')}">
                    <li ui-sref-active="active"><a ui-sref="app.contacts">Contacts</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.profile">Profile</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.profile_2">Profile v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contacts_2">Contacts v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.projects">Projects</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.project_detail">Project detail</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.activity_stream">Activity stream</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.teams_board">Teams board</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.social_feed">Social feed</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.clients">Clients</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.vote_list">Vote list</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.file_manager">File manager</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.calendar">Calendar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.issue_tracker">Issue tracker</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.blog">Blog</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.article">Article</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.faq">FAQ</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.timeline">Timeline</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.pin_board">Pin board</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.invoice">Invoice</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('miscellaneous')}">
                <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">MISCELLANEOUS</span> <span
                        class="label label-info pull-right">NEW</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('miscellaneous')}">
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.notify">Notification</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.nestable_list">Nestable list</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.agile_board">Agile board</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.timeline_2">Timeline v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.diff">Diff</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.pdf_viewer">PDF viewer</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.i18support">i18support</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.sweet_alert">Sweet alert</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.idle_timer">Idle timer</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.truncate">Truncate</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.password_meter">Password meter</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.spinners">Spinners</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.spinners_usage">Spinners usage</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.live_favicon">Live favicon</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.google_maps">Google maps</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.datamaps">Datamaps</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.socialbuttons">Social buttons</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.code_editor">Code editor</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.modal_window">Modal window</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.clipboard">Clipboard</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.text_spinners">Text spinners</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.forum_view">Forum view</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.validation">Validation</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.tree_view">Tree view</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.loading_buttons">Loading buttons</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.chat_view">Chat view</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.masonry">Masonry</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.toastr">Toastr notification</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.tour">Tour</a></li>
                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">MENULEVELS</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="">Third Level Item</a></li>
                            <li><a href="">Third Level Item</a></li>
                            <li><a href="">Third Level Item</a></li>
                        </ul>
                    </li>
                    <li><a href="">Second Level Item</a></li>
                    <li><a href="">Second Level Item</a></li>
                    <li><a href="">Second Level Item</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
