<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="order_id">Order ID</label>
                    <input type="text" id="order_id" name="order_id" value="" placeholder="Order ID" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="status">Order status</label>
                    <input type="text" id="status" name="status" value="" placeholder="Status" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="customer">Customer</label>
                    <input type="text" id="customer" name="customer" value="" placeholder="Customer" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="date_added">Date added</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_added" type="text" class="form-control" value="03/04/2014">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="date_modified">Date modified</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_modified" type="text" class="form-control" value="03/06/2014">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="amount">Amount</label>
                    <input type="text" id="amount" name="amount" value="" placeholder="Amount" class="form-control">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>

                            <th>N°</th>
                            <th>Relación</th>
                            <th data-hide="phone">Autorizado</th>
                            <th data-hide="phone">Monto</th>
                            <th data-hide="phone">Creado</th>
                            <th data-hide="phone">Estatus</th>
                            <th class="text-right">Action</th>

                        </tr>
                        </thead>
                        <tbody ng-repeat="partida in listaOrdenesCompra.ordenes">
                            <tr>
                                <td>{{partida.numeroOrden}}</td>
                                <td>{{partida.relacion}}</td>
                                <td>{{partida.claveEmpleado}} - {{partida.autorizado}}</td>
                                <td>{{partida.monto}}</td>
                                <td>{{partida.fechaCreacion}}</td>
                                <td>
                                    <span ng-show="partida.estado === 1" class="label label-danger">autorizar</span>
                                    <span ng-show="partida.estado === 2" class="label label-primary">pendiente </span>
                                    <span ng-show="partida.estado === 3" class="label label-success">recibida</span>
                                    <span ng-show="partida.estado === 4" class="label label-warning">cancelada</span>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs">Cancelar</button>
                                        <button class="btn-white btn btn-xs">Ver</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="wrapper wrapper-content  animated fadeInRight">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<div class="ibox">-->
                <!--<div class="ibox-content">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-4">-->
                            <!--<button class="btn btn-primary btn-sm" ng-click="listaOrdenesCompra.modalAgregar()">Agregar Tienda</button>-->
                        <!--</div>-->
                        <!--<div class="col-xs-4">-->

                        <!--</div>-->
                        <!--<div class="col-xs-4">-->
                            <!--<div class="input-group">-->
                                <!--<input type="text" placeholder="Buscar Tienda" class="input form-control">-->
                                <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="clients-list">-->
                        <!--<div class="full-height-scroll" full-scroll>-->
                            <!--<div class="table-responsive">-->
                                <!--<table class="table table-striped table-hover">-->
                                    <!--<tbody>-->
                                    <!--<tr ng-repeat="ordenCompra in listaOrdenesCompra.ordenes">-->
                                        <!--<td><a ui-sref="app.ordenCompra.admon({ordenCompraId: ordenCompra._id})" class="client-link">{{ordenCompra.nombre}}</a></td>-->
                                        <!--<td class="contact-type"><i class="fa fa-envelope"> </i></td>-->
                                        <!--<td> {{ordenCompra.email}}</td>-->
                                        <!--<td class="contact-type"><i class="fa fa-phone"> </i></td>-->
                                        <!--<td> +{{ordenCompra.telefono}}</td>-->
                                        <!--<td class="project-actions">-->
                                            <!--<a class="btn btn-white btn-sm"><i class="fa fa-cogs"></i> Editar</a>-->
                                            <!--<a href="" class="btn btn-white btn-sm"><i class="fa fa-trash-o"></i> Desactivar </a>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->