<ng-form name="direccionForm">
    <!-- CÓDIGO POSTAL -->
    <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : direccionForm.codigoPostal.$invalid && !direccionForm.codigoPostal.$pristine}">
            <div ng-messages="direccionForm.codigoPostal.$dirty && direccionForm.codigoPostal.$error" role="alert">
                <label>
                    Código Postal *
                    <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength">5 dígitos requeridos</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="pattern">5 dígitos requeridos</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="cpinvalido">invalido</span>
                </label>
                <codigos-postales direccion="formaDireccion.direccion"></codigos-postales>
            </div>
        </div>
    </div>
    <!-- COLONIA -->
    <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : direccionForm.colonia.$invalid && !direccionForm.colonia.$pristine}">
            <div ng-messages="direccionForm.colonia.$dirty && direccionForm.colonia.$error" role="alert">
                <label>Colonia *
                    <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                </label>
                <select id="coloniaId" class="form-control" name="colonia" type="text"
                        aria-describedby="sizing-addon1" required
                        ng-options="colonia.colonia as colonia.colonia for colonia in formaDireccion.direccion.colonias track by colonia.colonia"
                        ng-model="formaDireccion.direccion.colonia">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <!-- ESTADO -->
    <div class="col-sm-6">
        <div class="form-group">
            <label>Estado</label>
            <input id="estadoId" class="form-control" name="estado" type="text"
                   aria-describedby="sizing-addon1" disabled="true" ng-model="formaDireccion.direccion.estado">
        </div>
    </div>
    <!-- DELEGACIÓN o MUNICIPIO -->
    <div class="col-sm-6">
        <div class="form-group">
            <label>Delegación/Muninicipio</label>
            <input id="delMpioId" class="form-control" name="delMpio" type="text"
                   aria-describedby="sizing-addon1" disabled="true" ng-model="formaDireccion.direccion.delMpio">
        </div>
    </div>
    <!-- CALLE -->
    <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : direccionForm.calle.$invalid && !direccionForm.calle.$pristine}">
            <div ng-messages="direccionForm.calle.$dirty && direccionForm.calle.$error" role="alert">
                <label>
                    Calle *
                    <span class="animated fadeIn" style="color:red;" ng-message="maxlength">min 1, max 45 letras</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="pattern">sólo letras y/o números</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                </label>
                <input id="calleId" class="form-control" name="calle" type="text"
                       aria-describedby="sizing-addon1"
                       maxlength="50" ng-maxlength="50"
                       required ng-pattern="/^[a-zA-Z-/.&ÑñáéíóúÁÉÍÓÚ-\s\d]+$/"
                       ng-model="formaDireccion.direccion.calle">
            </div>
        </div>
    </div>
    <!-- NÚMERO EXTERIOR -->
    <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : direccionForm.numExt.$invalid && !direccionForm.numExt.$pristine}">
            <div ng-messages="direccionForm.numExt.$dirty && direccionForm.numExt.$error" role="alert">
                <label>
                    N° Exterior *
                    <span class="animated fadeIn" style="color:red;" ng-message="maxlength">min 1, max 10 letras</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="pattern">sólo letras y/o números</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                </label>
                <input id="numExtId" class="form-control" name="numExt" type="text"
                       aria-describedby="sizing-addon1"
                       maxlength="11" ng-maxlength="10"
                       required ng-pattern="/^[a-zA-Z-/.&ÑñáéíóúÁÉÍÓÚ-\s\d]+$/"
                       ng-model="formaDireccion.direccion.numExt">
            </div>
        </div>
    </div>
    <!-- NÚMERO INTERIOR -->
    <div class="col-sm-6">
        <div class="form-group" ng-class="{ 'has-error' : direccionForm.numInt.$invalid && !direccionForm.numInt.$pristine}">
            <div ng-messages="direccionForm.numInt.$dirty && direccionForm.numInt.$error" role="alert">
                <label>
                    N° Interior
                    <span class="animated fadeIn" style="color:red;" ng-message="maxlength">min 1, max 10 letras</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="pattern">sólo letras y/o números</span>
                </label>
                <input id="numIntId" class="form-control" name="numInt" type="text"
                       aria-describedby="sizing-addon1"
                       maxlength="11" ng-maxlength="10" ng-pattern="/^[a-zA-Z-/.&ÑñáéíóúÁÉÍÓÚ-\s\d]+$/"
                       ng-model="formaDireccion.direccion.numInt">
            </div>
        </div>
    </div>
</ng-form>