<!-- div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>SubTotal: ${{finalizarVenta.ventaSubtotal | number : 2}}</h3>
                    </div>
                    <div class="col-sm-3">
                        <h3>Importe Iva:
                            ${{(finalizarVenta.ventaTotal - finalizarVenta.ventaSubtotal) | number : 2}}</h3>
                    </div>
                    <div class="col-sm-3">
                        <h3>Total: ${{finalizarVenta.ventaTotal | number : 2}}</h3>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary pull-right"
                                ng-click="finalizarVenta.imprimir()">
                            Imprimir Tickets
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-offset-9 col-sm-3">
                        <button class="btn btn-sm btn-primary pull-right"
                                ng-click="finalizarVenta.imprimir()">
                            Imprimir Tickets
                        </button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <uib-accordion close-others="finalizarVenta.soloUno">
                    <div uib-accordion-group ng-repeat="orden in finalizarVenta.ordenesVenta"
                         ng-click="finalizarVenta.mostrarPartidas(orden._id)">
                        <uib-accordion-heading>
                            <sapn ng-show="orden.mesesSinInteres">
                                No. Ticket: {{orden.numVentaOrden}}
                                - <small>{{orden.mesesSinInteres}} Meses sin Intereses</small>
                            </sapn>
                            <span ng-hide="orden.mesesSinInteres">
                                No. Ticket: {{orden.numVentaOrden}} - <small>Efectivo</small>
                            </span>
                            <precio-venta-orden venta-orden-id="orden._id"></precio-venta-orden>
                        </uib-accordion-heading>
                        <productos-entregar partidas="finalizarVenta.partidasOrdenes"
                                            venta-orden-id="finalizarVenta.ventaOrdenId">
                        </productos-entregar>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>

