<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Datos de la Venta</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <!--Cliente | Datos de Entrega-->
                    <div class="col-sm-6">
                        <address>
                            <h5>Cliente:</h5>
                            <mostrar-datos-cliente
                                    cliente-id="finalizarVenta.ordenesVenta.clienteId"></mostrar-datos-cliente>
                            <h5>Dirección de Entrega:&nbsp; &nbsp;
                                <button role="button" class="btn btn-xs btn-white"
                                        ng-disabled="!finalizarVenta.ordenesVenta.direccionEntregaId"
                                        ng-click="finalizarVenta.quitarDireccionEntrg()">
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </button>
                                <button role="button" class="btn btn-xs btn-white"
                                        ng-disabled="finalizarVenta.ordenesVenta.direccionEntregaId"
                                        ng-click="finalizarVenta.abrirModlDirccin()">
                                    <i class="fa fa-plus-square-o fa-2x"></i>
                                </button>
                            </h5>
                            <mostrar-direccion direccion-id="finalizarVenta.ordenesVenta.direccionEntregaId">
                            </mostrar-direccion>
                        </address>
                    </div>
                    <!--Datos Fiscales-->
                    <div class="col-sm-6 text-right">
                        <h5>Comprobate:&nbsp;&nbsp;
                            <button role="button" class="btn btn-xs btn-white"
                                    ng-disabled="!finalizarVenta.ordenesVenta.datosFiscalesId"
                                    ng-click="finalizarVenta.quitarDatsFiscls()">
                                <i class="fa fa-trash-o fa-2x"></i>
                            </button>
                            <button role="button" class="btn btn-xs btn-white"
                                    ng-disabled="finalizarVenta.ordenesVenta.datosFiscalesId"
                                    ng-click="finalizarVenta.abrirModlDatsFiscls()">
                                <i class="fa fa-plus-square-o fa-2x"></i>
                            </button>
                        </h5>
                        <mostrar-datos-fiscales
                                datos-fiscales-id="finalizarVenta.ordenesVenta.datosFiscalesId">
                        </mostrar-datos-fiscales>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view=""></div>
