<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-4">
            <a ui-sref="app.compras.buscarproductoproveedores">
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-industry fa-4x" aria-hidden="true"></i>
                        <h1 class="m-xs">Proveedor</h1>
                        <h3 class="font-bold no-margins">Proveedores Autorizados</h3>
                        <small>Crear una orden de compra hacia un proveedor</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a ui-sref="app.compras.buscarproductotiendas">
                <div class="widget lazur-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-cubes fa-4x" aria-hidden="true"></i>
                        <h1 class="m-xs">Grupo</h1>
                        <h3 class="font-bold no-margins">Tiendas del Grupo</h3>
                        <small>Crea una orden de compra a tiendas de mayoreo</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a ui-sref="app.compras.tiendasExternas">
                <div class="widget red-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-meh-o fa-4x" aria-hidden="true"></i>
                        <h1 class="m-xs">Externos</h1>
                        <h3 class="font-bold no-margins">Tiendas externas al grupo</h3>
                        <small>Usar sólo en casos de emergencia</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>