<div class="row wrapper border-bottom white-bg page-heading">
    <!--TITULO MODAL-->
    <div class="col-sm-10">
        <h2>
            {{modalCancelarDia.resolve.partida.numProductos}}
            {{modalCancelarDia.resolve.partida.producto().unidad}}
            {{modalCancelarDia.resolve.partida.producto().marca().nombre}}
            {{modalCancelarDia.resolve.partida.producto().campoBusqueda}}
        </h2>
    </div>
    <!-- TACHE (CERRAR MODAL)-->
    <div class="col-sm-2">
        <div class="ibox-tools">
            <br>
            <a ng-click="modalCancelarDia.cerrar()"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <!-- BODY MODAL -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
            <h2 class="text-center">Cancelar Producto Dia</h2>
            <!--INPUT PARA INTRODUCIR LA CANTIDAD RECIBIDA-->
            <form id="modalCancelarDiaFrmId" name="modalCancelarDiaFrm" ng-show="modalCancelarDia.cancelaciones.length === 0">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : modalCancelarDiaFrm.numProductosCancelados.$invalid && !modalCancelarDiaFrm.numProductosCancelados.$pristine}">
                            <div ng-messages="modalCancelarDiaFrm.numProductosCancelados.$dirty && modalCancelarDiaFrm.numProductosCancelados.$error"
                                 role="alert">
                                <label>
                                    Cantidad a cancelar *
                                    <span class="animated fadeIn" style="color:red;" ng-message="min">Min 1</span>
                                    <span class="animated fadeIn" style="color:red;" ng-message="max">Max
                                        {{modalCancelarDia.resolve.partida.numProductos}}
                                    </span>
                                    <span class="animated fadeIn" style="color:red;"
                                          ng-message="step">No decimales</span>
                                    <span class="animated fadeIn" style="color:red;"
                                          ng-message="required">requerido</span>
                                </label>
                                <input id="numProductosCanceladosId"
                                       class="form-control"
                                       type="number"
                                       placeholder="Ingresa"
                                       name="numProductosCancelados"
                                       max="{{modalCancelarDia.resolve.partida.numProductos}}"
                                       min="1"
                                       step="1"
                                       required
                                       ng-disabled="true"
                                       ng-model="modalCancelarDia.resolve.partida.numProductos">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : modalCancelarDiaFrm.numProductosDevolver.$invalid
                             && !modalCancelarDiaFrm.numProductosDevolver.$pristine}">
                            <div ng-messages="modalCancelarDiaFrm.numProductosDevolver.$dirty
                            && modalCancelarDiaFrm.numProductosDevolver.$error"
                                 role="alert">
                                <label>
                                    Cantidad a Devolver *
                                    <span class="animated fadeIn" style="color:red;" ng-message="min">Min 1</span>
                                    <span class="animated fadeIn" style="color:red;" ng-message="max">Max
                                        {{modalCancelarDia.resolve.partida.numEntregados}}
                                    </span>
                                    <span class="animated fadeIn" style="color:red;"
                                          ng-message="step">No decimales</span>
                                    <span class="animated fadeIn" style="color:red;"
                                          ng-message="required">requerido</span>
                                </label>
                                <input id="numProductosDevolverId"
                                       class="form-control"
                                       type="number"
                                       placeholder="Ingresa"
                                       name="numProductosDevolver"
                                       max="{{modalCancelarDia.resolve.partida.numEntregados}}"
                                       min="modalCancelarDia.resolve.partida.numEntregados"
                                       step="1"
                                       ng-required="modalCancelarDia.numProductosCancelados >
                                       (modalCancelarDia.resolve.partida.numProductos - modalCancelarDia.resolve.partida.numEntregados)"
                                       ng-disabled="true"
                                       ng-model="modalCancelarDia.resolve.partida.numEntregados">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="modalCancelarDia.aceptar()"
                                    ng-disabled="modalCancelarDiaFrm.$invalid">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-9 text-center">
                    <alertas tipo="modalCancelarDia.tipoMsj"
                             mensaje="modalCancelarDia.msj">
                    </alertas>
                </div>
            </form>
            <!--TABLA HISTORIAL DE CANCELACIONES-->
            <table class="table table-hover no-margins" ng-show="modalCancelarDia.cancelaciones.length > 0">
                <thead>
                <tr>
                    <th>Cantidad cancelada</th>
                    <th>Empleado que canceló</th>
                    <th>Fecha / Hora</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cancelacion in modalCancelarDia.cancelaciones">
                    <!--CANTIDAD-->
                    <td>
                        {{cancelacion.numProductos}}&nbsp;&nbsp;
                    </td>
                    <!--NOMBR DE QUIEN CANCELÓ-->
                    <td>
                        <span ng-show="cancelacion.empleadoAutorizaId">{{cancelacion.empleadoAutorizo().nombreCompleto}}</span>
                        <span ng-hide="cancelacion.empleadoAutorizaId">Esperando Autoriazacion...</span>
                    </td>
                    <!--FECHA RECIBIMIENTO-->
                    <td>
                        {{cancelacion.fechaCreacion | date : 'MMM-dd-yy h:mm a'}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--FOOTER MODAL-->

</div>
