<div class="row wrapper border-bottom white-bg page-heading">
    <!--TITULO MODAL-->
    <div class="col-sm-10">
        <h2>Asignar Cliente</h2>
    </div>
    <!-- TACHE (CERRAR MODAL)-->
    <div class="col-sm-2">
        <div class="ibox-tools">
            <br>
            <a ng-click="asignarCliente.cancelarCerrar()"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <!-- BODY MODAL -->
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="wizard">
                        <div class="content">
                            <form role="form" class="p-lg" id="asignarClienteFrmId" name="asignarClienteFrm" novalidate>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h2>Datos Cliente</h2>
                                        </div>
                                        <div class="col-md-6">
                                            <!--BOTON NOTA O FACTURA -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Nombre Completo *</label>
                                            <buscar-cliente cliente="asignarCliente.clienteSelec"></buscar-cliente>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <forma-datos-personales datos="asignarCliente.cliente"></forma-datos-personales>
                                            <br/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER MODAL-->
    <div class="inmodal">
        <!-- BOTON / SIGUIENTE / GUARDAR / GUARDAR-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-8">
                    <alertas tipo="asignarCliente.tipoMsj" mensaje="asignarCliente.msj"></alertas>
                </div>
                <div class="col-sm-4">
                    <!--BOTON GUARDAR-->
                    <button type="button" class="btn btn-primary pull-right"
                            ng-hide="asignarCliente.cliente._id"
                            ng-disabled="asignarClienteFrm.$invalid"
                            ng-click="asignarCliente.agregarCliente()">
                        Siguiente
                    </button>
                    <!--BOTON GUARDAR-->
                    <button type="button" class="btn btn-primary pull-right"
                            ng-show="asignarCliente.cliente._id"
                            ng-disabled="asignarClienteFrm.$invalid"
                            ng-click="asignarCliente.actualizarCliente()">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>