<ng-form name="datosFiscalesFrm">
    <!-- BOTONES = PERSONA FISICA / PERSONA MORAL -->
    <div class="col-sm-6">
        <label class="control-label">Persona *</label>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button id="fisicaId"
                        class="btn btn-default"
                        name="fisica"
                        type="button"
                        uib-btn-radio="'PF'"
                        ng-model="formaDatosFiscales.datos.tipoPersona">Física
                </button>
            </div>
            <div class="btn-group" role="group">
                <button id="moralId"
                        class="btn btn-default"
                        name="moral"
                        type="button"
                        uib-btn-radio="'PM'"
                        ng-model="formaDatosFiscales.datos.tipoPersona">Moral
                </button>
            </div>
        </div>
    </div>
    <!--RFC PERSONA FÍSCA-->
    <div class="col-sm-6" ng-if="formaDatosFiscales.datos.tipoPersona === 'PF'">
        <div class="form-group"
             ng-class="{ 'has-error' : datosFiscalesFrm.rfcPersonaFisica.$invalid && !datosFiscalesFrm.rfcPersonaFisica.$pristine}">
            <div ng-messages="datosFiscalesFrm.rfcPersonaFisica.$dirty && datosFiscalesFrm.rfcPersonaFisica.$error"
                 role="alert">
                <label>RFC *
                    <span style="color:red;" class="animated fadeIn" ng-message="required">requerido</span>
                    <span style="color:red;" class="animated fadeIn" ng-message="pattern">inválido</span>
                    <span style="color:red;" class="animated fadeIn" ng-message="existerfc">registrado</span>
                </label>
                <!--PERSONA FISICA-->
                <input class="form-control"
                       name="rfcPersonaFisica"
                       type="text"
                       aria-describedby="sizing-addon1"
                       ng-pattern="/^([A-ZÑ&]{4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/"
                       required
                       capitalize
                       buscar-rfc
                       ng-model="formaDatosFiscales.datos.rfc">
            </div>
        </div>
    </div>
    <!--RFC PERSONA MORAL-->
    <div class="col-sm-6" ng-if="formaDatosFiscales.datos.tipoPersona === 'PM'">
        <div class="form-group"
             ng-class="{ 'has-error' : datosFiscalesFrm.rfcPersonaMoral.$invalid && !datosFiscalesFrm.rfcPersonaMoral.$pristine}">
            <div ng-messages="datosFiscalesFrm.rfcPersonaMoral.$dirty && datosFiscalesFrm.rfcPersonaMoral.$error"
                 role="alert">
                <label>RFC *
                    <span style="color:red;" class="animated fadeIn" ng-message="required">requerido</span>
                    <span style="color:red;" class="animated fadeIn" ng-message="pattern">inválido</span>
                    <span style="color:red;" class="animated fadeIn" ng-message="existerfc">registrado</span>
                </label>
                <!--PERSONA MORAL -->
                <input class="form-control"
                       name="rfcPersonaMoral"
                       type="text"
                       aria-describedby="sizing-addon1"
                       ng-pattern="/^([A-ZÑ&]{3}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/"
                       required
                       capitalize
                       buscar-rfc
                       ng-model="formaDatosFiscales.datos.rfc">
            </div>
        </div>
    </div>
    <!--RAZÓN SOCIAL-->
    <div class="col-sm-12">
        <div class="form-group"
             ng-class="{ 'has-error' : datosFiscalesFrm.razonSocial.$invalid && !datosFiscalesFrm.razonSocial.$pristine}">
            <div ng-messages="datosFiscalesFrm.razonSocial.$dirty && datosFiscalesFrm.razonSocial.$error"
                 role="alert">
                <label>Razón Social *
                    <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength">min 2, max 80 letras</span>
                    <span class="animated fadeIn" style="color:red;" ng-message="pattern">caracter no válido</span>
                </label>
                <input id="razonSocialId" class="form-control"
                       name="razonSocial" type="text" aria-describedby="sizing-addon1"
                       maxlength="80" ng-minlength="2"
                       ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ&_.\s\d]+$/" required
                       ng-model="formaDatosFiscales.datos.razonSocial">
            </div>
        </div>
    </div>
</ng-form>