<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Mi tienda</th>
            <th>Restantes</th>
            <th>Entregar</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="partida in productosEntregar.partidas">
            <td class="text-left">
                {{partida.numTotalProductos}} {{partida.producto().unidad}}
            </td>
            <td>
                {{partida.producto().campoBusqueda}}
            </td>
            <td>
                <productos-mi-invntr partida-id="partida._id">
                </productos-mi-invntr>
            </td>
            <td>{{}}</td>
            <td>
                <form role="form" class="form-inline" id="entregarProductosFrmId"
                      name="entregarProductosFrm" novalidate>
                    <div class="input-group input-group-sm" ng-class="{ 'has-error' : entregarProductosFrm['numProductos'+$index].$invalid
                                && !entregarProductosFrm['numProductos'+$index].$pristine}">
                        <input id="{{partida._id}}" name="numProductos{{$index}}"
                               class="form-control " type="number" placeholder="Cantidad Productos"
                               aria-describedby="sizing-addon1" required min="0"
                               cantidad-invalida ng-model="partida.prodctsEntregar">
                        <div ng-messages="entregarProductosFrm['numProductos'+$index].$dirty
                                    && entregarProductosFrm['numProductos'+$index].$error"
                             role="alert">
                            <div style="color: red" ng-message="required">requerido</div>
                            <div style="color: red" ng-message="cantidadInvalida">Cantidad invalida</div>
                        </div>
                    </div>
                    <!-- botones -->
                    <button class="btn btn-primary" ng-hide="partida.entregaMostrarId"
                            ng-disabled="entregarProductosFrm.$invalid" type="button"
                            ng-click="productosEntregar.guardar(partida)">
                        Guardar
                    </button>
                    <button class="btn btn-primary" ng-show="partida.entregaMostrarId"
                            ng-disabled="entregarProductosFrm.$invalid" type="button"
                            ng-click="productosEntregar.actualizar(partida)">
                        Actualizar
                    </button>
                </form>
            </td>
            <td>
                <alertas tipo="productosEntregar.tipoMsj" mensaje="productosEntregar.msj"></alertas>
            </td>
        </tr>
        </tbody>
    </table>
</div>