<div class="animated fadeIn" uib-alert ng-if="alertas.tipo === 'success'" ng-class="'alert-'+ alertas.tipo">
    <span class="fa fa-check">
    </span>
    <strong ng-if="alertas.mensaje"> {{alertas.mensaje}}</strong>
    <strong ng-if="!alertas.mensaje"> {{alertas.successMsj}}</strong>
</div>

<div class="animated fadeIn" uib-alert ng-if="alertas.tipo === 'danger'" ng-class="'alert-'+ alertas.tipo">
    <span class="fa fa-exclamation-circle">
    </span>
    <strong ng-if="alertas.mensaje"> {{alertas.mensaje}}</strong>
    <strong ng-if="!alertas.mensaje"> {{alertas.dangerMsj}}</strong>
</div>

<div class="animated fadeIn" uib-alert ng-if="alertas.tipo === 'warning'" ng-class="'alert-'+ alertas.tipo">
    <span class="fa fa-exclamation-circle">
    </span>
    <strong> {{alertas.mensaje}} </strong>
</div>


