<ng-form name="existenciaOtrasTiendasFrm">
    <small>Existencia en otros Tiendas</small>
    <ul class="list-group clear-list m-t">
        <li class="list-group-item"
            ng-repeat="producto in existenciaOtrasTiendas.otrosInventarios">
            <div class="pull-right" ng-class="{ 'has-error' : existenciaOtrasTiendasFrm['cantidad' + $index].$invalid
                && !existenciaOtrasTiendasFrm['cantidad' + $index].$pristine}">
                <input class="form-control input-sm text-navy"
                       style="margin-bottom: -7px; margin-top: -7px; text-align: center"
                       name="cantidad{{$index}}"
                       uib-popover="Ingresa la cantidad requerida"
                       popover-trigger="'mouseenter'"
                       type="number"
                       min="0"
                       max="{{producto.cantidad}}"
                       ng-minlength="0"
                       ng-maxlength="{{producto.cantidad}}"
                       ng-change="existenciaOtrasTiendas.totalProductosTiendas()"
                       ng-model="producto.cantidadSolicitada">
            </div>
            <span class="label label-default">{{producto.cantidad}}</span>&nbsp;&nbsp;
            <small>
                {{producto.tienda().nombre}}
            </small>
        </li>
    </ul>
</ng-form>
