<div class="row m-b-lg">
    <div class="col-lg-4 text-center">
        <!-- h3>Ticket Venta</h3 -->
        <div class="m-b-sm">
            <img alt="image" class="img-circle" src="images//logo-ccp-1000x1000.png"
                 style="width: 62px">
        </div>
    </div>
    <div class="col-lg-8">
        <strong>Totales</strong>
        <ul class="list-group clear-list">
            <li class="list-group-item  fist-item text-navy">
                <span class="pull-right"> ${{resumenOrdenVenta.ventaSubTotal | number : 2}} </span>
                SubTotal:
            </li>
            <li class="list-group-item text-navy">
                <span class="pull-right"> ${{(resumenOrdenVenta.ventaTotal - resumenOrdenVenta.ventaSubTotal) | number : 2}} </span>
                Importe Iva:
            </li>
            <li class="list-group-item text-navy">
                <span class="pull-right"> ${{resumenOrdenVenta.ventaTotal | number : 2}} </span>
                Total:
            </li>
        </ul>
    </div>
    <uib-accordion close-others="resumenOrdenVenta.soloUno">
        <div uib-accordion-group ng-repeat="orden in resumenOrdenVenta.ordenesVenta"
             ng-click="resumenOrdenVenta.mostrarPartidas(orden._id)">
            <uib-accordion-heading>
                <span ng-show="orden.mesesSinInteres"> {{orden.mesesSinInteres}} Meses sin Intereses</span>
                <span ng-hide="orden.mesesSinInteres"> Efectivo</span>
                <span class="label label-success pull-right">${{orden.total | number : 2}} </span>
            </uib-accordion-heading>
            <partidas-ordenes-ventas partidas="resumenOrdenVenta.partidasOrdenes"></partidas-ordenes-ventas>
        </div>
    </uib-accordion>
</div>

