<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Monthly</span>
                    <h5>Income</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{dashboards.numChart.numero1 | number : 0}}</h1>

                    <div class="stat-percent font-bold text-success">{{dashboards.numChart.numero5}}% <i class="fa fa-bolt"></i></div>
                    <small>Total income</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Annual</span>
                    <h5>Orders</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{dashboards.numChart.numero2 | number : 0}}</h1>

                    <div class="stat-percent font-bold text-info">{{dashboards.numChart.numero6}}% <i class="fa fa-level-up"></i></div>
                    <small>New orders</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Today</span>
                    <h5>Vistits</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{dashboards.numChart.numero3 | number : 0}}</h1>

                    <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                    <small>New visits</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Low value</span>
                    <h5>User activity</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{dashboards.numChart.numero4 | number : 0}}</h1>

                    <div class="stat-percent font-bold text-danger">{{dashboards.numChart.numero7}}% <i class="fa fa-level-down"></i></div>
                    <small>In first month</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Orders</h5>

                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-white active">Today</button>
                            <button type="button" class="btn btn-xs btn-white">Monthly</button>
                            <button type="button" class="btn btn-xs btn-white">Annual</button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <cumulative-line-chart></cumulative-line-chart>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">{{dashboards.numChart.numero9 | number : 0}}</h2>
                                    <small>Total orders in period</small>
                                    <div class="stat-percent">{{dashboards.numChart.numero8}}% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: {{dashboards.numChart.numero8}}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">{{dashboards.numChart.numero10 | number : 0}}</h2>
                                    <small>Orders in last month</small>
                                    <div class="stat-percent">{{dashboards.numChart.numero5}}% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: {{dashboards.numChart.numero5}}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">{{dashboards.numChart.numero1 | number : 0}}</h2>
                                    <small>Monthly income from orders</small>
                                    <div class="stat-percent">{{dashboards.numChart.numero7}}% <i class="fa fa-bolt text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: {{dashboards.numChart.numero7}}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Pie Chart</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <pie-chart></pie-chart>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User project list</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <small>Pending...</small>
                            </td>
                            <td><i class="fa fa-clock-o"></i> 11:20pm</td>
                            <td>Samantha</td>
                            <td class="text-navy"><i class="fa fa-level-up"></i> 24%</td>
                        </tr>
                        <tr>
                            <td><span class="label label-warning">Canceled</span></td>
                            <td><i class="fa fa-clock-o"></i> 10:40am</td>
                            <td>Monica</td>
                            <td class="text-navy"><i class="fa fa-level-up"></i> 66%</td>
                        </tr>
                        <tr>
                            <td>
                                <small>Pending...</small>
                            </td>
                            <td><i class="fa fa-clock-o"></i> 01:30pm</td>
                            <td>John</td>
                            <td class="text-navy"><i class="fa fa-level-up"></i> 54%</td>
                        </tr>
                        <tr>
                            <td>
                                <small>Pending...</small>
                            </td>
                            <td><i class="fa fa-clock-o"></i> 02:20pm</td>
                            <td>Agnes</td>
                            <td class="text-navy"><i class="fa fa-level-up"></i> 12%</td>
                        </tr>
                        <tr>
                            <td><span class="label label-primary">Completed</span></td>
                            <td><i class="fa fa-clock-o"></i> 04:10am</td>
                            <td>Amelia</td>
                            <td class="text-navy"><i class="fa fa-level-up"></i> 66%</td>
                        </tr>
                        <tr>
                            <td>
                                <small>Pending...</small>
                            </td>
                            <td><i class="fa fa-clock-o"></i> 12:08am</td>
                            <td>Damian</td>
                            <td class="text-navy"><i class="fa fa-level-up"></i> 23%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Line Focus Chart</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <line-with-focus-chart></line-with-focus-chart>
                </div>
            </div>
        </div>
    </div>
</div>