<div class="row wrapper border-bottom white-bg page-heading">
    <!--TITULO MODAL-->
    <div class="col-sm-10">
        <h2>Asignar Cliente</h2>
    </div>
    <!-- TACHE (CERRAR MODAL)-->
    <div class="col-sm-2">
        <div class="ibox-tools">
            <br>
            <a ng-click="asignarCliente.cancelarCerrar()"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <!-- BODY MODAL -->
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="wizard">
                        <div class="content">
                            <form role="form" class="p-lg" id="asignarComprobanteFrmId" name="asignarComprobanteFrm" novalidate>
                                <fieldset>
                                    <ng-form name="asiganrFacturaFrm">
                                        <div class="row">
                                            <div class="col-sm 12">
                                                <buscar-datos-fiscales datos-fiscales="comprobanteFactura.dtsFiscalesSelec"></buscar-datos-fiscales>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12" ng-if="!comprobanteFactura.dtsFiscales._id">
                                                <forma-datos-fiscales datos="comprobanteFactura.dtsFiscales"></forma-datos-fiscales>

                                            </div>
                                            <div class="col-sm-12" ng-if="comprobanteFactura.dtsFiscales._id">
                                                <forma-editar-datos-fiscales datos="comprobanteFactura.dtsFiscales"></forma-editar-datos-fiscales>
                                            </div>
                                            <div class="col-sm-12">
                                                <forma-direccion direccion="comprobanteFactura.dtsFiscales"></forma-direccion>
                                            </div>
                                        </div>
                                    </ng-form>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER MODAL-->
    <div class="inmodal">
        <!-- BOTON / SIGUIENTE / GUARDAR / GUARDAR-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-1 col-md-8">
                    <alertas tipo="comprobanteFactura.tipoMsj" mensaje="comprobanteFactura.msj"></alertas>
                </div>
                <div class="col-sm-3">
                    <!--BOTON GUARDAR-->
                    <button type="button" class="btn btn-primary pull-right"
                            ng-hide="comprobanteFactura.dtsFiscales._id"
                            ng-disabled="asiganrFacturaFrm.$invalid"
                            ng-click="comprobanteFactura.guardar()">
                        Siguiente
                    </button>
                    <!--BOTON GUARDAR-->
                    <button type="button" class="btn btn-primary pull-right"
                            ng-show="comprobanteFactura.dtsFiscales._id"
                            ng-disabled="asiganrFacturaFrm.$invalid"
                            ng-click="comprobanteFactura.actualizar()">
                        Siguiente1
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>