<div class="modal-body">
    <div class="row">
        <div class="col-lg-10">
            <h2>INVENTARIO
                <br><small>Centro Comercial de Pisos y Azulejos | Sucursal: Tláhuac</small>
            </h2>
        </div>
        <div class="col-lg-2">
            <a class="btn close" ng-click="buscarProducto.cancelar()">
                <span class="fa fa-times" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="m-b-lg">
                        <div class="input-group">
                            <input type="text" placeholder="Busqueda por nombre" ng-model="busqueda" class=" form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Buscar</button>
                            </span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th class="">Stock</th>
                                <th class="">Marca</th>
                                <th class="">Clase</th>
                                <th class="">Medida</th>
                                <th class="">Nombre</th>
                                <th class="">Color</th>
                                <th class="">Mts²</th>
                                <th class=""></th>
                                <th class="">Precio</th>
                                <th class=""></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="producto in buscarProducto.productos | filter:busqueda">
                                <td>{{producto.stock}}</td>
                                <td>{{producto.marca}}</td>
                                <td>{{producto.clase}}</td>
                                <td>{{producto.medida}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.color}}</td>
                                <td>{{producto.metrosCaja}}</td>
                                <td class="text-right">$</td>
                                <td class="text-right">{{producto.precioUnitario  | number : 2}}</td>
                                <td><button ng-click="buscarProducto.aceptar(producto   )" class="btn btn-primary btn-xs">Seleccionar</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>